@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@200;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    transition: all .2s linear;
    scroll-behavior: smooth;
    
}

body {
    background-color: #fff;
    overflow-x: hidden;
    color: #9c6da5;
    font-family: "Poppins";
}

 main{
    max-width: 1140px;
    background: #fff;
    border-radius: 20px;
 }
.container {
    position: relative;
    width: 100%;
}

 .h3 {
    line-height: 60px;
    margin-bottom: 1.3rem;
    color: black !important;
 }
 
 .hr {
    border-bottom: 0px solid rgba(0, 0, 0, 0.391) ;
    margin-bottom: 1.3rem;
    
 }

 .sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #fff;
  overflow-y: scroll;
  z-index: 1;
  margin-left: .4rem;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

 .sidebar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
 .sidebar ul {
   margin-bottom: 2rem;
 }

.sidebar ul li {
    width: 100%;
}

.sidebar ul li {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.sidebar ul li a i{
    min-width: 60px;
    text-align: center;
}

 .hl {
    border-bottom: 0px solid rgba(0, 0, 0, 0.391) ;
    width: 15rem;
    margin-bottom:3rem
 }

 .sec-side {
    padding: 0 0.9rem;
}

.text-link {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
} 

.bar-con {
    width: 100%;
    background-color: #ddd;
    margin-bottom: .3rem;
}
.bar {
    text-align: right;
    padding: .1rem 0;
    color: #fff;
}
 .a {
    width: 80%;
    background-color: blue;
}
 .b {
    width: 60%;
    background-color: blue;
}
 .c {
    width: 40%;
    background-color: blue;
}
 .d {
    width: 60%;
    background-color: blue;
}

.bar-fig {
    display: flex;
    justify-content: space-between;
    margin-bottom: .6rem;
    font-size: .7rem;
}

.p {
    margin-bottom: .3rem;
    font-size: .8rem;
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    min-height: 100vh;
    left: 300px;
    background: #fff;
}

.user {
    position: relative;
    width: 30px;
    height: 30px;
    
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 50%;
}

.create {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.topbar {
    height: 60px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.topbar .search-bar {
    position: relative;
    background: hsl(252, 30%, 95%);
    border-radius: .3rem;
    padding: 0.1rem 1rem;
    width: 50vw;
}

.search-bar input[type = "search"] {
    background: transparent;
    font-size: 0.9rem;
    color:  hsl(252, 30%, 17%);
    border: none;
}

.text {
    margin-top: 3rem;
    margin-bottom:.4rem ;
}

.col-t {
    font-size: 1.2rem;
    margin-bottom: 1rem ;
    font-weight: normal;
}

.btn {
    background: hsla(255, 11%, 70%, 0.629);
    padding: .2rem .4rem;
    border-radius: 8px;
    border: none;
    outline: 0;
}

 .boton {
     color: #ddd;
}
.col-div {
    margin-top: 3.3rem;
}
.button-con {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    
}

.button-con button {
    border-radius: 6px;
    outline: 0;
    font-size: .7rem;
    padding: .1rem .5rem;
    background: hsl(252, 30%, 95%);
    border: none;
    color: #9c6da5;

}



.search-bar i {
    color:  hsl(252, 15%, 65%);
    font-size: .7rem;
}

.a-con {
    display: grid;
    grid-template-columns: 400px 300px 400px;
    grid-gap: 30px;
}
 
.col-2 {
    background-color: rgba(63, 78, 194, 0.852);
    border-radius: 6px;
     outline: none;
     align-items: center;
     padding: .6rem;
     color: #ccc;
}
 

.col-22 {
    background-color: rgba(63, 78, 194, 0.852);
    margin-top: 1rem;
    border-radius: 6px;
    outline: none;
    align-items: center;
    padding: .6rem;
    color: #ccc;
}
.col-8, .col-4{
     background: hsl(252, 30%, 95%);
     border-radius: 6px;
     outline: none;
     align-items: left;
     padding: .6rem;
     
}
.col-8-1{
    background-color: rgba(63, 78, 194, 0.852);
     border-radius: 6px;
     outline: none;
     align-items: left;
     padding: .6rem;
     background-image: linear-gradient(to right, rgba(63, 78, 194, 0.852) 60%,rgba(36, 52, 175, 0.852) 20%, rgba(9, 16, 73, 0.852) , rgba(3, 7, 35, 0.852) );
     color: #ccc;
     height: 305px;
}

.col-8-1 h2 {
    font-size: 1.1rem;
    width: 220px;
}
.col-8-1 p {
    font-size: .8rem;
}

.col-3 {
    display: grid;
    grid-template-columns: 200px 200px;
    flex-wrap: wrap;
    
}

.col-1 {
    background: hsl(252, 30%, 95%);
    border-radius: 6px;
    outline: none;
    margin: .2rem;
}


.colo-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 0;
}

 
.pic {
    position: relative;
    width: 50px;
    height: 50px;
    
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 50%;
}
.profile {
    position: relative;
    width: 38px;
    height: 38px;
    
}
.pix {
    display: flex;
    gap: 8px;
   
}

 .profile img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 10%;
}
.profile-img {
    display: flex;
    align-items: end;
    gap: 8px;
   
}
.profile-img1 {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    margin-top: 8.7rem;
    align-items: center;
    
}

.btn2 {
    padding: .1rem .4rem;
    border-radius: 15px;
    background-color: rgba(27, 23, 23, 0.907);
    border: none;
    color: #ddd;
}

.pro {
    margin-top: 1.3rem;
}